{%extends 'user/base.html'%}
{%load static%}
{%block body_block%}

    <style>
        @import url('https://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: auto;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
.popup {
        display: none; /* Hide the popup by default */
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    }

    /* Popup content */
    .popup-content {
        background-color: #fefefe;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        text-align: center;
        border-radius: 10px;
        animation: fadeInOut -100s; /* Fade in and stay visible for 3 seconds */
      }
      
      @keyframes fadeInOut {
        0% { opacity: 0; }
        10% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
      }

    /* Close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Success message */
    .success-message {
        color: green;
        font-size: 24px;
    }

    /* Tick mark icon */
    .fa-check-circle {
        color: green;
        font-size: 48px;
    }
    </style>
    <div id="wrapper" style="margin-top: 200px;">
     <h1>Won Bids</h1>
     
     <table id="keywords" cellspacing="0" cellpadding="0">
       <thead>
         <tr>
           <th><span>Product</span></th>
           <th><span>Bidder</span></th>
           <th><span>Amount</span></th>
           <th><span>Timestamp</span></th>
           <th><span>is_selected</span></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
        {%for bid in bids%}
         <tr>
            <td><div>
                <img src="{{bid.auction.spice.image.url}}" class="avatar avatar-lg me-3 border-radius-lg" width="100px" style="border-radius: 10px;">
                <p class="lalign mt-2">{{bid.auction.spice.name}}</p>
            </div>
           <td>{{bid.bidder.seller.name}}</td>
           <td>Rs. {{bid.amount}}</td>          
           <td>{{bid.timestamp}}</td>   
           <td>{{bid.is_selected}}</td>  
           <td>
              <a href="{%url 'payment' bid.id%}" class=" btn btn-outline-primary me-4" onclick="showPopup(10000000)">Make payment</a>
              {% if bid.payment_set.exists %}
              <a href="{% url 'download_bill' bid.id %}" class="btn btn-outline-info me-3">Download bill</a>
              {% endif %}
  
           </td>

        </tr>
         {%endfor%}

         <div id="paymentSuccessPopup" class="popup">
          <div class="popup-content">
              <span class="close" onclick="closePopup()">&times;</span>
              <div class="success-message">
                  Payment Successful <i class="fa fa-check-circle"></i>
              </div>
          </div>
         </div>
       
       </tbody>
     </table>
    </div> 
    <script>
        $(function(){
  $('#keywords').tablesorter(); 
});


function showPopup(delay) {
  var popup = document.getElementById('paymentSuccessPopup');
  popup.style.display = 'block';
  // You can add animation effects here
}

// Function to close the popup
function closePopup() {
  var popup = document.getElementById('paymentSuccessPopup');
  popup.style.display = 'none';
}


    </script>

    
{%endblock%}